# Ignore Python virtual environments
venv/
env/
ENV/
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.tmp
*.swp
*.bak

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Git files
.git/
.gitignore

/notes.txt


